/* Globals */

:root {
    /* font-size, font-family */
    font-size: 16px;
    font-family: "Shippori Mincho", sans-serif;

    --default-margin: 6px;
    --default-padding: 6px;

    --default-header-color: black;
    --default-text-color: #16181F;

    --header-height: 4rem;
}

@font-face {
    font-family: "Shippori Mincho";
    src: url("ShipporiMincho-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

h1, h2, h2 {
    color: var(--default-header-color);
}

/* Class level styles */

.page-container {
    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: white;
    color: var(--default-text-color);

    margin: 0px;
    padding: 0px;
}

.page-container-item {
    width: 100%;

    margin: var(--default-margin);
    padding: 6px;
}

.illustrations-container-item {
    margin: 0px;
    padding: 0px;
}

.header-container-item {
    margin: 0px;
    padding: var(--default-padding);
}

.nav-list-item {
    margin: 0px;
    padding: var(--default-padding);
}

.nav-list-a {
    margin: 0px;
    padding: 4px;

    text-decoration: none;
    transition: 0.1s;

    color: gray;
}

.nav-list-a:link {
}

.nav-list-a:visited {
}

.nav-list-a:hover {
    color: black;
}

.nav-list-a:active {
}

.thumbnail-image {
    padding: var(--default-padding);
    width: 0%; /* not sure if theres point to this but don't want to be hit with 100% first that immediately gets adjusted from js */
    opacity: 0.75;
}

.thumbnail-image:hover {
    opacity: 0.9;
}

.contact-link {
    text-decoration: none;
    color: rgb(6, 95, 212);
}

.contact-link:hover {
    font-weight: bold;
}
/* ID level styles */

#page-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 1000;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: white;
}

#nav-list-container {
    margin: 0px;
    padding: 0px;

    /* flex container properties */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    list-style-position: inside;
    list-style-type: none;
}

#page-main {
}

#page-footer {
}

#header-container {
    margin: 0px;
    padding: 0px;

    height: 100%;

    scroll-margin-top: var(--header-height);

    border-bottom: solid;
    border-width: 1px;
    border-color: #E0E0E0;

    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#illustrations-container {
    margin: 0px;
    padding: 0px;

    scroll-margin-top: var(--header-height);

    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#contact-container {
    margin: 0px;
    padding: 0px;

    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#about-container {
    margin: 0px;
    padding: 0px;

    scroll-margin-top: var(--header-height);

    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#illustrations-heading {
    padding-bottom: 16px;
}

#illustrations-images {
}

#footer-container {
    margin: 0px;
    padding: 0px;

    /* flex container properties */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#illustrations-thumbnail-container {
    /* flex container properties */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#page-contact {
    /* flex container properties */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Bl */
}

#modal-img {
    display: block;
    margin: auto;
    width: 80%;
}

#span-close {
    position: absolute;
    top: var(--header-height);
    right: 35px;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.1s;
    color: #f1f1f1;
}

#span-close:hover, #span-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}